/*

* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
 */

# include <behaviors.dtsi>
# include <dt-bindings/zmk/keys.h>
# include <dt-bindings/zmk/bt.h>
# include <dt-bindings/zmk/outputs.h>
# include <dt-bindings/zmk/ext_power.h>

#ifndef KEYMAP_DRAWER
  # include "swe_keys_default.h"
  # include "swe_keys_mac.h"
#endif

# define DEFAULT       0
# define LOWER         1
# define RAISE         2
# define SETTINGS      3
# define PC_DEFAULT    4
# define PC_LOWER      5
# define PC_RAISE      6

/ {
    cond_layers {
        compatible = "zmk,conditional-layers";
        // Define SETTINGS layer as tri-state (LOWER + RAISE for Mac)
        lower_raise_tristate {
            if-layers = <LOWER RAISE>;
            then-layer = <SETTINGS>;
        };
        // Define SETTINGS layer as tri-state (PC_LOWER + PC_RAISE for PC)
        pc_lower_raise_tristate {
            if-layers = <PC_LOWER PC_RAISE>;
            then-layer = <SETTINGS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Mac";
// ------------------------------------------------------------------------------------------------------------
// | ESC   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   +   |
// | TAB   |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   Å   |
// | SHFT  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   Ö   |   Ä   |
// | CTRL  |  Z  |  X  |  C   |  V   |  B   |   [   |   |   ]   |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                              &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp SEM_PLUS
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                               &kp Y  &kp U    &kp I     &kp O   &kp P    &kp SEM_AA
&kp LSHFT &kp A  &kp S  &kp D    &kp F    &kp G                               &kp H  &kp J    &kp K     &kp L   &kp SEM_OO &kp SEM_AE
&kp LCTRL &kp Z  &kp X  &kp C    &kp V    &kp B  &kp SEM_LBKT   &kp SEM_RBKT  &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LALT &kp LGUI &mo 1  &kp SPACE      &kp RET       &mo 2  &kp BSPC &kp RGUI
            >;

        };

        lower_layer {
            display-name = "Lower Mac";
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |       |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10  |  F11  |  F12  |
// |       |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9    |   0   |       |
// |       |     |     |      |      |      |   DEL  |  |       |      |       |       |       |       |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&trans            &trans            &trans          &trans          &trans       &trans                         &trans    &trans    &trans    &trans    &trans    &trans
&kp F1            &kp F2            &kp F3          &kp F4          &kp F5       &kp F6                          &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
&trans            &kp N1            &kp N2          &kp N3          &kp N4       &kp N5                          &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &trans
&trans            &trans            &trans          &trans          &trans       &trans  &kp DEL         &trans  &trans    &trans    &trans    &trans    &trans    &trans
                                                    &trans          &trans       &trans  &trans          &trans  &trans    &trans    &trans
            >;

        };

        raise_layer {
            display-name = "Raise Mac";
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |       |       |       |
// |       |  "  |  @  |   !  |  [   |   ]  |                   |  (   |   )   |   _   |   ?   |       |       |
// |       |  '  |  &  |   *  |   `  |   +  |                   |   -  |   ~   |   =   |   |   |   Ä   |       |
// |       |  %  |  #  |   ^  |   $  |   \  |        |  |       |  {   |   }   |   <   |   >   |   Ö   |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&trans    &trans          &trans          &trans          &trans          &trans                                     &trans          &trans            &trans             &trans           &trans        &trans
&trans    &kp SEM_DQT     &kp SEM_AT      &kp SEM_EXCL    &kp SEM_LBKT    &kp SEM_RBKT                               &kp SEM_LPAR    &kp SEM_RPAR      &kp SEM_UNDER      &kp SEM_QMARK    &trans        &trans
&trans    &kp SEM_SQT     &kp SEM_AMPS    &kp SEM_STAR    &kp SEM_GRAVE   &kp SEM_PLUS                               &kp SEM_MINUS   &kp SEM_TILDE     &kp SEM_EQUAL      &kp SEM_PIPE     &kp SEM_AA    &trans
&trans    &kp SEM_PRCNT   &kp SEM_HASH    &kp SEM_CARET   &kp SEM_DLLR    &kp SEM_BSLH   &trans             &trans   &kp SEM_LBRC    &kp SEM_RBRC      &kp SEM_LT         &kp SEM_GT       &kp SEM_OO    &trans
                                          &trans          &trans          &trans         &trans             &trans   &trans          &trans            &trans
            >;

        };

        settings_layer {
            display-name = "Settings";
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |       |       |       |
// |  BLE  |     | PREV| PLAY | NEXT |      |                   |      |       |       |       |       |       |
// |  USB  |     | VOL↓| VOL↑ | MUTE |      |                   |      | VOL↓  | VOL↑  | MUTE  |       |       |
// |  EPON | EPOF|     |      |      |      |        |  |       | 2MAC | 2PC   |       |       |       |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&bt BT_CLR        &bt BT_SEL 0      &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3 &bt BT_SEL 4                     &to DEFAULT   &to PC_DEFAULT    &trans        &trans      &trans    &trans
&out OUT_BLE      &none             &kp C_PREV      &kp C_PP        &kp C_NEXT   &none                            &trans        &trans            &trans        &trans      &trans    &trans
&out OUT_USB      &none             &kp C_VOL_DN    &kp C_VOL_UP    &kp C_MUTE   &none                            &trans        &kp C_VOL_DN      &kp C_VOL_UP  &kp C_MUTE  &trans    &trans
&ext_power EP_ON  &ext_power EP_OFF &none           &none           &none        &trans   &trans        &trans    &trans        &trans            &trans        &trans      &trans    &trans
                                                    &trans          &trans       &trans   &trans        &trans    &trans        &trans            &trans
            >;

        };

        pc_default_layer {
            display-name = "Default PC";
// ------------------------------------------------------------------------------------------------------------
// | ESC   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   +   |
// | TAB   |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   Å   |
// | SHFT  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   Ö   |   Ä   |
// | CTRL  |  Z  |  X  |  C   |  V   |  B   |   [   |   |   ]   |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                                      &kp N6          &kp N7   &kp N8    &kp N9  &kp N0      &kp SED_PLUS
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                                       &kp Y           &kp U    &kp I     &kp O   &kp P       &kp SED_AA
&kp LSHFT &kp A  &kp S  &kp D    &kp F    &kp G                                       &kp H           &kp J    &kp K     &kp L   &kp SED_OO  &kp SED_AE
&kp LCTRL &kp Z  &kp X  &kp C    &kp V    &kp B         &kp SED_LBKT    &kp SED_RBKT  &kp N           &kp M    &kp COMMA &kp DOT &kp FSLH    &kp RSHFT
                        &kp LALT &kp LGUI &mo PC_LOWER  &kp SPACE       &kp RET       &mo PC_RAISE    &kp BSPC  &kp RGUI
            >;

        };

        pc_lower_layer {
            display-name = "Lower PC";
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |       |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10  |  F11  |  F12  |
// |       |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9    |   0   |       |
// |       |     |     |      |      |      |   DEL  |  |       |      |       |       |       |       |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&trans    &trans          &trans          &trans          &trans          &trans                          &trans    &trans    &trans    &trans    &trans    &trans
&kp F1    &kp F2          &kp F3          &kp F4          &kp F5          &kp F6                          &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
&trans    &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                          &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &trans
&trans    &trans          &trans          &trans          &trans          &trans  &kp DEL         &trans  &trans    &trans    &trans    &trans    &trans    &trans
                          &trans          &trans          &trans          &trans                  &trans  &trans    &trans    &trans
            >;

        };

        pc_raise_layer {
            display-name = "Raise PC";
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |       |      |       |
// |       |  "  |  @  |   !  |  [   |   ]  |                   |  (   |   )   |   _   |   ?   |      |       |
// |       |  '  |  &  |   *  |   `  |   +  |                   |   -  |   ~   |   =   |   |   |   Ä  |       |
// |       |  %  |  #  |   ^  |   $  |   \  |        |  |       |  {   |   }   |   <   |   >   |   Ö  |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&trans    &trans          &trans          &trans          &trans          &trans                                     &trans          &trans            &trans             &trans           &trans        &trans
&trans    &kp SEM_DQT     &kp SEM_AT      &kp SEM_EXCL    &kp SEM_LBKT    &kp SEM_RBKT                               &kp SEM_LPAR    &kp SEM_RPAR      &kp SEM_UNDER      &kp SEM_QMARK    &trans        &trans
&trans    &kp SEM_SQT     &kp SEM_AMPS    &kp SEM_STAR    &kp SEM_GRAVE   &kp SEM_PLUS                               &kp SEM_MINUS   &kp SEM_TILDE     &kp SEM_EQUAL      &kp SEM_PIPE     &kp SEM_AA    &trans
&trans    &kp SEM_PRCNT   &kp SEM_HASH    &kp SEM_CARET   &kp SEM_DLLR    &kp SEM_BSLH   &trans             &trans   &kp SEM_LBRC    &kp SEM_RBRC      &kp SEM_LT         &kp SEM_GT       &kp SEM_OO    &trans
                                          &trans          &trans          &trans         &trans             &trans   &trans          &trans            &trans
            >;

        };
    };
};
